<section *ngIf="!getClaims()">
  <h3>Please login to continue</h3>
  <button color="primary" mat-raised-button (click)="login()">Login</button>
</section>

<section *ngIf="getClaims()">
  <h1>Hello {{ getClaims().name }}</h1>

  <h4>Please click one of the below options</h4>

  <button color="primary" mat-raised-button (click)="logout()">Logout</button>
  <button mat-raised-button (click)="goToTokenInfo()" style="margin-left: 1rem">Get Token Info</button>
  <button mat-raised-button (click)="goToProducts()" style="margin-left: 1rem">Get Products</button>

  <router-outlet></router-outlet>
</section>
