<div class="mat-elevation-z8" style="margin: 1rem">
  <div
    style="padding: 0.2rem 0 0.2rem 0.2rem;background-color: whitesmoke;"
    class="mat-elevation-z6"
  >
    <h2>Token Information</h2>
  </div>
  <div>
    <table
      style="width:100%"
      mat-table
      [dataSource]="getDataSource()"
      class="mat-elevation-z4"
    >
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef>Key</th>
        <td mat-cell *matCellDef="let element">{{ element.key }}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let element">{{ element.value }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['key', 'value']"></tr>
    </table>
  </div>
</div>
